.recettesfond {
  background-image: url("Image/ordinateur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbarrose {
  background-color: #fadbd5;
}

.bouton {
  background-color: #fadbd5;
}
.try {
  background-color: #fadbd5d7;
}

.apro {
  background-image: url("Image/rose.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(21, 22, 22);
}

.icones {
  display: flex;
  justify-content: center;
}
.diamant {
  width: 200px;
  height: 200px;
}
.MesProjet {
  display: flex;
 
}
main img {
  height: 400px;
  width: 400px;
}
.img-profil {
  width: 70%;
}

.imgfo {
  width: 3em;
}

.recettesfond p {
  font-size: 1em;
  
}


.mail{
  color: black;
}